<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<style type="text/css">
		.center {text-align: center;}
		.card {
	 		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	 		max-width: 300px;
	 		margin: auto;
	 		text-align: center;
	 		font-family: arial;
		}
	</style>

</head>
<body>
	<div class="center">
	<a href="/">To home page</a>
	</div><br>

	<h1 class="center">lets get to know each other</h1>
	<p class="center">my name is Shir Tanchuma</p>
	<p class="center">Im 16 years old</p>
	<p class="center">I love pahmemot and Noa kirel</p>


</body>
</html>